@model ParcProject.Models.OriginesOEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OriginesOEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.blockNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blockNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SearchoeNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SearchoeNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.oeNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
