@model ParcProject.Models.Vehicle

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    IEnumerable<ParcProject.Models.Manufacter> Manufacterlist = ViewData["Manufacterlist"] as IEnumerable<ParcProject.Models.Manufacter>;
    IEnumerable<ParcProject.Models.Model> Modellist = ViewData["Modellist"] as IEnumerable<ParcProject.Models.Model>;
    IEnumerable<ParcProject.Models.Details> DetailList = ViewData["DetailList"] as IEnumerable<ParcProject.Models.Details>;
}
<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Vehicle</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.EntryVin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EntryVin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EntryVin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VIN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VIN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VIN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Manufacter", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" name="manufacter">
                    @foreach (ParcProject.Models.Manufacter manufacter in Manufacterlist)
                    {
                        <option value="@Html.DisplayFor(modelItem => manufacter.manuID)">@Html.DisplayFor(modelItem => manufacter.manuName)</option>
                    }
                </select>
            
             </div>
        </div>

        <div class="form-group">
            @Html.Label("Model", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" name="model">
                    @foreach (ParcProject.Models.Model model in Modellist)
                    {
                        <option value="@Html.DisplayFor(modelItem => model.ModelId)">@Html.DisplayFor(modelItem => model.modelName)</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.carId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" name="detail">
                    @foreach (ParcProject.Models.Details detail in DetailList)
                {
                        <option value="@Html.DisplayFor(modelItem => detail.carId)">@Html.DisplayFor(modelItem => detail.carId)</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vehicleTypeDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vehicleTypeDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vehicleTypeDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.carName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.carName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.carName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Load_Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Load_Type, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Load_Type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">


            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
