
@model ParcProject.Models.Articles

@{
    ViewBag.Title = "Delete";
}
@if (Session["login"] != null)
{
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Articles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.articleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.articleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.articleNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.articleNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.articleState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.articleState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.articleStateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.articleStateName)
        </dd>
@{/*
        <dt>
            @Html.DisplayNameFor(model => model.brandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brandName)
        </dd>
*/}
        <dt>
            @Html.DisplayNameFor(model => model.brandNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brandNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genericArticleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genericArticleId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.packingUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.packingUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Dev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Dev)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.articleNo2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.articleNo2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArticleNAV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleNAV)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
}else
{
    Response.Redirect("~/User/Login");
}